@import 'root.css';
@import 'login.css';
@import 'recuperacao.css';  
@import 'forma-de-recuperacao.css';  
@import 'tela-principal.css';  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* 
    Estilos Globais
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
