.imagem-de-fundo {
    background-image: url(../images/enfermeiro_fundo.png);
    width: 100%;
    height: 100svh;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-central {
    background-color: var(--branco);
    border-radius: var(--radius-container);
    box-shadow: var(--shadow);
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-mais-facil {
    width: 50%;
}

.form-container {
    background-color: var(--cor-fundo-form);
    border-radius: var(--radius-container-form);
    box-shadow: var(--shadow);
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--branco);
    gap: 10px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.emailOrCPF {
    width: var(--input-form-width);
    height: var(--input-form-height);
    border-radius: var(--input-form-radius);
    border: none;
    outline: none;
    padding: 10px;
}

.senha {
    width: var(--input-form-width);
    height: var(--input-form-height);
    border-radius: var(--input-form-radius);
    border: none;
    outline: none;
    padding: 10px;
}

/* Variation of work by @mrhyddenn for Radios */


.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34, 50, 84, 0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
}

.check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
}

.check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
}

.check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
}

.check:hover:before {
    opacity: 1;
}

.check:hover svg {
    stroke: var(--accent-color, #a3e583);
}

#cbx2:checked+.check svg {
    stroke: var(--accent-color, #a3e583);
}

#cbx2:checked+.check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
}

#cbx2:checked+.check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
}

.esqueceuSenha {
    color: var(--cor-do-link);
    float: right;
    text-decoration: none;
    font-size: 12px;
}

.div-imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-captcha {
    margin: 10px 0;
    width: 188px;
    height: 45px;
}

.botoes-entrar {
    display: flex;
}

.btn-entrar {
    margin: 10px 0;
    background-color: var(--botao-entrar);
    width: 50%;
    height: 5svh;
    border-radius: var(--input-form-radius);
    margin-right: 10px;
    color: var(--branco);
    box-shadow: var(--shadow);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-entrar-gov {
    background-color: var(--botao-entrar-gov);
    margin: 10px 0;
    width: 50%;
    height: 5svh;
    border-radius: var(--input-form-radius);
    color: var(--cor-fundo-form);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow);
    text-decoration: none; 
}

.govbr {
    margin-left: 5px;
}